body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.table {
	margin-top:  20px;
	width: 100%;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

.table-header {
	background: grey;
	color: white;
} 

.table-header, .table-body {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto;
}

.table-header .col {
	
	text-align: center;
}

.table-body .col {
	text-align: right;
}

.col {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

@media print {
	.table-header {
		background: white;
		color: black;
		border-top: 1px solid;
	}

	.logo {
		display: none;
	}
}